<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @area.city %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @area.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @area.postcode %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
